
  .LargeCard h1,
.LargeCard p {
  color: black;
}
  
  .LargeCard .bg-gradient-to-r {
    background: linear-gradient(to right, #e4eaeb, #d6d6dd);
  }
  
  .LargeCard .FcVoicePresentation,
  .LargeCard .FcInspection,
  .LargeCard .FcApproval {
    background: #cfe2ff;
  }
/* Myths Section */
.myths-section {
  background-color: #eaf6f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.myths-section ul {
  list-style-type: none;
  padding: 0;
}

.myths-section li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
}

.myths-section strong {
  color: #333;
}

@media (max-width: 768px) {
  .myths-section li {
    font-size: 14px;
  }
}
  
